<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>BOOKSHOP CMS</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="style.css"/> 
	<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<div class="header">
				<a href="#" class="create-page">Tạo trang</a>
				<select class="select">
					<option value="">Chọn trang</option>
				</select>
				<a href="#" class="upload">Upload</a>
			</div>
			<div class="navigation">
				<ul>
					<li><a href="#" class="">Home</a></li>
					<li><a href="#" class="">Cấu hình</a></li>
					<li><a href="#" class="active">Loại sản phẩm</a></li>
					<li><a href="#">Sản phẩm</a></li>
					<li><a href="#">Đơn hàng</a></li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class="commonpage notborder product-page">
				<form action="" method="">
					<div class="head">
						<form>
							<div class="search-div">
								<div class="pull-left" style="margin-top: 5px;">
									<span>Xem danh mục</span>
									<select name="category">
										<option value="">Giầy dép</option>
									</select>
									<span>danh mục con</span>
									<select name="category">
										<option value="">Giầy dép nữ</option>
									</select>
								</div>
								<div class="btn-search">
									<a href="#" class="links">Tìm sản phẩm</a>
									<a href="#" class="add-b">Thêm SP</a>
								</div>
							</div>
						</form>
					</div>
					<table class="tbl-home" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th width="5%">Stt</th>
							<th width="12%">Hình Ảnh</th>
							<th width="22%">Tên sản phẩm</th>
							<th width="10%">Giá (1.000 VNĐ)</th>
							<th width="16%">Danh Mục</th>
							<th width="7%">Hiển Thị</th>
							<th width="12%">Giá đã giảm (1.000 VNĐ)</th>
							<th width="8%">Sử Dụng</th>
							<th width="8%">Công cụ</th>
						</tr>
						<tr>
							<td>1</td>
							<td><img src="images/product.jpg"/></td>
							<td>Áo ba lá</td>
							<td>200</td>
							<td>
								<div>Trang sức</div>
								<div class="has">Trang sức 1</div>
								<div class="has">Trang sức 2</div>
							</td>
							<td><input type="checkbox" name="" value="" checked="checked" /></td>
							<td>160</td>
							<td><input type="checkbox" name="" value="" checked="checked" /></td>
							<td>
								<a href="#"><img src="images/setting.png"/></a>
								<a href="#"><img src="images/delete.png"/></a>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td><img src="images/product.jpg"/></td>
							<td>Áo ba lá</td>
							<td>200</td>
							<td>
								<div>Trang sức</div>
								<div class="has">Trang sức 1</div>
							</td>
							<td><input type="checkbox" name="" value="" checked="checked" /></td>
							<td>160</td>
							<td><input type="checkbox" name="" value="" checked="checked" /></td>
							<td>
								<a href="#"><img src="images/setting.png"/></a>
								<a href="#"><img src="images/delete.png"/></a>
							</td>
						</tr>
					</table>
					<a href="#" class="add">Thêm loại sản phẩm mới</a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>	