.customSelect {
/* Styles For Your Select Box */
position: relative;
}


.customSelect.changed {
/* You can use this if you want a different style after user has made a selection */
}

.customSelectFocus {
/* You can use this if you want a different style after user has made a selection */
}

.customSelectOpen {
/* You can use this if you want a different style after user has made a selection */
}


/* We can style the inner box, too */
.customSelectInner {
	background: url(../images/select.jpg) no-repeat center left #393939;
	padding-left: 31px;
	height: 23px;
	line-height: 22px;
	color: #fff;
}