<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div style="width:700px">
<p><strong>Chào <em>[name],</em></strong></p>
<p>Cám ơn Bạn đã mua sản phẩm tại [name_shop] - [link_page]</p>
<p>Link Shop online: [link_app]</p>
<p align="left"><strong><u>Dưới đây là thông tin về đơn hàng của bạn:</u></strong></p>
<p><strong>Mã  đơn hàng:</strong> [id_cart]</p>
<p style="color:#259ABD"><strong><em>Thông tin người  đặt:</em></strong></p>
<table width="100%" border="0">
  <tr>
    <td width="19%">Họ và tên:</td>
    <td width="81%">[name]</td>
  </tr>
  <tr>
    <td>Số điện thoại:</td>
    <td>[phone]</td>
  </tr>
  <tr>
    <td>Emal:</td>
    <td>[email]</td>
  </tr>
</table>
<p style="color:#259ABD"><strong><em>Thông tin giao  hàng:</em></strong></p>
[delivery]
<p style="color:#259ABD"><strong><em>Chi tiết đơn  hàng:</em></strong></p>
  Ngày mua : [date_now]
<p>[cart]</p>
<p align="center"><strong>Để đảm bảo quyền  lợi của mình, Bạn vui lòng kiểm tra kỹ hàng hóa trước khi nhận.</strong></p>
<p style="color:#259ABD"><strong><em>Mọi thắc mắc xin  liên hệ:</em></strong></p>
[contact]
<br />
<p style="color:#315B85" align="center"><strong>[name_shop] cám ơn và rất mong tiếp tục nhận  được sự ủng hộ từ các bạn</strong></p>
<p align="center">Bản  quyền thuộc về <strong>SocialNetShop</strong>- phát triển bởi <a href="www.SocialNetShop.com">www.SocialNetShop.com</a></p>
</div>
</body>
</html>
