<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

	<title>BOOKSHOP 2013</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="style.css"/> 
	<link rel="stylesheet" href="css/customSelectBox.css" />
	<link rel="stylesheet" type="text/css" href="css/font.css"/>
	<script type="text/javascript" src="js/jquery-latest.min.js"></script>
	<script src="js/jScrollPane.js"></script>
	<script src="js/SelectBox.js"></script>  
	<script src="js/siteMain.js"></script> 
	
	<script>
		$(document).ready(function(e) 
		{
			$("select.custom").each(function() {                    
	            var sb = new SelectBox({
		            selectbox: $(this),
		            height: 300,
		            changeCallback : function (val){
		               // $("#form_contact").find('[name="city_name"]').val(branches[val].city);
		                //$("#form_contact").find('[name="branch_id"]').val(branches[val].branch_id);
		            }
	        	});
	    	});	
	     });	
	</script>
</head>
<body class="noJS">
	<script>
		var bodyTag = document.getElementsByTagName("body")[0];
			bodyTag.className = bodyTag.className.replace("noJS", "hasJS");
	</script>
	<div class="container">
		<!--header-->
		<div class="header">
			<!--h-left-->
			<div class="h-left">
				<!--l-top-->
				<div class="l-top">
					<a href="#" class="logoshop"></a>
					<ul>
						<li><a href="#" class="active">HOME</a></li>
						<li><a href="#" class="">GIAO HÀNG</a></li>
						<li><a href="#">LIÊN HỆ</a></li>
					</ul>
					<div class="create-shop">
						<div class="bg-create">
							<p>
								Tạo shop <br/> miễn phí
							</p>
							<a href="#">Click HERE</a>
						</div>
					</div>
				</div><!--End l-top-->
				<!--l-top-->
				<div class="l-bottom">
					<a href="#" class="banner">
						<img src="images/banner.jpg" alt="" title=""/>
					</a>
				</div>
			</div>
			<!--End h-left-->
			<!--h-right-->
			<div class="h-right">
				
			</div>
			<!--End h-right-->
			<div class="clear"></div>
		</div>
		<!--End header-->
		<!--content-->
		<div class="content">
			<!--sidebar-->
			<div class="sidebar">
				<ul>
					<li>&nbsp;</li>
					<li>
						<a href="#">Hàng mới</a>
						<ul class="submenu">
							<li class="col-1">
								<ul>
									<!--col-1-1-->
									<li>
										<h3>Quần áo</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-1-->
									<!--col-1-2-->
									<li>
										<h3>Đồ trang sức</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-2-->
									<!--col-1-3-->
									<li>
										<h3>Giầy</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-3-->
									<!--col-1-4-->
									<li>
										<h3>Túi sách</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-4-->
								</ul>
							</li>
							<li class="col-2">
								<a href="details.html"><img src="images/qc.jpg"/></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Quần áo</a>
						<ul class="submenu">
							<li class="col-1">
								<ul>
									<!--col-1-1-->
									<li>
										<h3>Quần áo</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-1-->
									<!--col-1-2-->
									<li>
										<h3>Đồ trang sức</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-2-->
									<!--col-1-3-->
									<li>
										<h3>Giầy</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-3-->
									<!--col-1-4-->
									<li>
										<h3>Túi sách</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-4-->
								</ul>
							</li>
							<li class="col-2">
								<a href="details.html"><img src="images/s-1.jpg"/></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Giầy</a>
					</li>
					<li>
						<a href="#">Đồ Trang Sức</a>
					</li>
					<li>
						<a href="#">Túi Sách</a>
					</li>
					<li>
						<a href="#">Giầy</a>
					</li>
					<li>
						<a href="#">Sản Phẩm Cho Nam</a>
					</li>
					<li>
						<a href="#">Sản Phẩm Cho Nữ</a>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<!--End sidebar-->
			<!--main-content-->
			<div class="main-content">
				<div class="m-top">
					<!--breadcrum-->
					<div class="breadcrum">
						<a href="#">Hàng mới</a> / <a href="#">Quần áo</a> / <a href="#">Nữ</a>/
						<a href="#" class="active">Áo</a>
					</div>
					<!--End breadcrum-->
					<!--sort-->
					<div class="sort">
						<select class="select custom" name="sort" id="sort-select">
							<option value="0">Sắp xếp</option>
							<option value="asc">Theo giá tăng dần</option>
							<option value="desc">Theo giá giảm dần</option>
							<option value="desc">Theo hàng mới</option>
						</select>
					</div>
					<!--End sort-->
				</div>
				<div class="m-bottom">
					<!--product-->
					<div class="product">
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-1.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo LOTTE Korean</p>
									<p class="price">180,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-2.jpg" alt="" title=""/>
								<div class="selloff"><span>30% off</span></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo CHIBI Japanese</p>
									<p class="price">280,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-3.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo Nhà Nghèo Hở Rốn</p>
									<p class="price">888,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-1.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo LOTTE Korean</p>
									<p class="price">180,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-2.jpg" alt="" title=""/>
								<div class="selloff"><span>30% off</span></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo CHIBI Japanese</p>
									<p class="price">280,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-3.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo Nhà Nghèo Hở Rốn</p>
									<p class="price">888,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-1.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo LOTTE Korean</p>
									<p class="price">180,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-2.jpg" alt="" title=""/>
								<div class="selloff"><span>30% off</span></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo CHIBI Japanese</p>
									<p class="price">280,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-3.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo Nhà Nghèo Hở Rốn</p>
									<p class="price">888,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-1.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo LOTTE Korean</p>
									<p class="price">180,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-2.jpg" alt="" title=""/>
								<div class="selloff"><span>30% off</span></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo CHIBI Japanese</p>
									<p class="price">280,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--p-item-->
						<div class="p-item">
							<a href="details.html">
								<img src="images/s-3.jpg" alt="" title=""/>
								<div class="new"></div><!--new and selloff-->
								<div class="bg-name">
									<p class="name-p">Áo Nhà Nghèo Hở Rốn</p>
									<p class="price">888,000 đ</p>
								</div>
							</a>	
						</div>
						<!--End p-item-->
						<!--Paging-->
						<div class="paging">
							<div class="pg-num">
								<a href="#" class="current">1</a>
								<a href="#">2</a>
								<a href="#" class="">3</a>
								<span href="#" class="">...</span>
								<a href="#" class="next">Next</a>
							</div>
						</div>
						<!--End Paging-->
					</div>
					<div class="cart-shop">
						<div class="cart-icon-right">
							<a href="#" class="cart-icon">
								<div class="total">4</div>
							</a>
							<a href="#" class="search-icon"></a>
							<div class="search-content">
								<form method="" action="">
									<input type="text" value="" placeholder="Tìm kiếm" />
								</form>
							</div>
							
							<a href="javascript:void(0);" class="gotoTop"></a>
						</div>
					</div>
					<!--End product-->
				</div>
			</div>
			<!--End main-content-->
			<div class="clear"></div>
		</div>
		<!--End content-->
		<footer>
			<div class="footer">
				<div class="developer">
					Design and developer by SHOPBOOK
				</div>
				<div class="menu-footer">
					<a href="#"> DISCLAIMER</a> -
					<a href="#"> CREDITS</a> -
					<a href="#"> BOOKSHOP 2013</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>	