<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

	<title>BOOKSHOP 2013</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="style.css"/> 
	<link rel="stylesheet" type="text/css" href="css/font.css"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/siteMain.js"></script>
</head>
<body>
	<div class="container">
		<!--header-->
		<div class="header">
			<!--h-left-->
			<div class="h-left">
				<!--l-top-->
				<div class="l-top">
					<a href="index.html" class="logoshop"></a>
					<ul>
						<li><a href="#" class="active">GIAO HÀNG</a></li>
						<li><a href="#">LIÊN HỆ</a></li>
					</ul>
					<div class="create-shop">
						<div class="bg-create">
							<p>
								Tạo shop <br/> miễn phí
							</p>
							<a href="#">Click HERE</a>
						</div>
					</div>
				</div><!--End l-top-->
				<!--l-top-->
				<div class="l-bottom">
					<a href="#" class="banner">
						<img src="images/banner.jpg" alt="" title=""/>
					</a>
				</div>
			</div>
			<!--End h-left-->
			<!--h-right-->
			<div class="h-right">
				
			</div>
			<!--End h-right-->
			<div class="clear"></div>
		</div>
		<!--End header-->
		<!--content-->
		<div class="content">
			<!--sidebar-->
			<div class="sidebar">
				<ul>
					<li>&nbsp;</li>
					<li>
						<a href="#">Hàng mới</a>
						<ul class="submenu">
							<li class="col-1">
								<ul>
									<!--col-1-1-->
									<li>
										<h3>Quần áo</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-1-->
									<!--col-1-2-->
									<li>
										<h3>Đồ trang sức</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-2-->
									<!--col-1-3-->
									<li>
										<h3>Giầy</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-3-->
									<!--col-1-4-->
									<li>
										<h3>Túi sách</h3>
										<div class="submenu-hide">
											<a href="#">Áo thun</a>
											<a href="#">Quần tây</a>
											<a href="#">T-Shirt</a>
										</div>
									</li>
									<!--End col-1-4-->
								</ul>
							</li>
							<li class="col-2">
								<img src="images/qc.jpg"/>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Quần áo</a>
					</li>
					<li>
						<a href="#">Giầy</a>
					</li>
					<li>
						<a href="#">Đồ Trang Sức</a>
					</li>
					<li>
						<a href="#">Túi Sách</a>
					</li>
					<li>
						<a href="#">Giầy</a>
					</li>
					<li>
						<a href="#">Sản Phẩm Cho Nam</a>
					</li>
					<li>
						<a href="#">Sản Phẩm Cho Nữ</a>
					</li>
				</ul>
			</div>
			<!--End sidebar-->
			<!--main-content-->
			<div class="main-content">
				
				<div class="m-bottom">
					<div class="shopping-page">
						<form method="" action="">
							<div class="box-cart">
								<div class="row-cart row-cart-title">	
									<div class="col1">
										<span class="cart-black">Giỏ hàng</span>
									</div>
									<div class="col2">
										Số lượng
									</div>
									<div class="col3">
										Thành tiền
									</div>
								</div>
								<div class="row-cart">	
									<div class="col1">
										<div class="box-image">
											<img src="images/s-1.jpg"/>
										</div>
										<div class="bg-name">
											<p class="name-p">Áo LOTTE Korean</p>
											<p class="price">180,000 đ</p>
										</div>
									</div>
									<div class="col2">
										x <input type="text" name="" value="03"/>
									</div>
									<div class="col3">
										600.000 đ
									</div>
									<div class="col4">
										<a href="#" class="delete"></a>
									</div>
								</div>
								<div class="row-cart">	
									<div class="col1">
										<div class="box-image">
											<img src="images/s-1.jpg"/>
										</div>
										<div class="bg-name">
											<p class="name-p">Áo LOTTE Korean</p>
											<p class="price">180,000 đ</p>
										</div>
									</div>
									<div class="col2">
										x <input type="text" name="" value="03"/>
									</div>
									<div class="col3">
										600.000 đ
									</div>
									<div class="col4">
										<a href="#" class="delete"></a>
									</div>
								</div>
								<div class="addmore">
									<div class="left">
										<a href="index.html" class="more">Chọn thêm</a>
									</div>
									<div class="sum-money">
										<span>Tổng cộng: 3.600.000 đ</span>
										<div class="note">
											*<label style="text-decoration: underline;">Lưu ý</label>: Giá tiền này chưa bao gồm phí giao hàng, 
											bấm vào <a href="#" style="color: #b82020;text-decoration: underline;">đây</a> để biết thêm thông tin giao hàng
										</div>
										<div class="btn-muahang">
											<input type="submit" value="Mua hàng"/>
										</div>
									</div>
								</div>
							</div>
						</form>
						<div class="info-delivery">
							<div class="title-others">
								<div class="dotted"></div>
								<div class="title">Thông tin giao hàng</div>
							</div>
							<div class="info">
								HANNAH Shop giao hàng miễn phí trong TP.Hồ Chí Minh cho đơn hàng trên 100.000 VND. Chi phí này không bao gồm Phí hàng cồng kềnh áp dụng cho một số sản phẩm
Xem thêm chi tiết xin liên hệ.
								<br/><br/>
								Điện thoại: <span style="color:#053443;">0918 045 196</span><br/>
								Email: <span style="color:#053443;">Hannah.shop@Shopbook.com</span>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="cart-shop">
						<div class="cart-icon-right">
							<a href="#" class="cart-icon">
								<div class="total">4</div>
							</a>
							<a href="#" class="search-icon"></a>
							<div class="search-content">
								<form method="" action="">
									<input type="text" value="" placeholder="Tìm kiếm" />
								</form>
							</div>
							
							<a href="javascript:void(0);" class="gotoTop"></a>
						</div>
					</div>
					<!--End product-->
				</div>
			</div>
			<!--End main-content-->
			<div class="clear"></div>
		</div>
		<!--End content-->
		<footer>
			<div class="footer">
				<div class="developer">
					Design and developer by SHOPBOOK
				</div>
				<div class="menu-footer">
					<a href="#"> DISCLAIMER</a> -
					<a href="#"> CREDITS</a> -
					<a href="#"> BOOKSHOP 2013</a>
				</ul>
			</div>
		</footer>
	</div>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>	