#bg_thongbao{
    display:none;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.5;
	position:fixed;
	z-index:10;
}
#thongbao{display:none; width:350px; border:1px solid #67A769; position:fixed; z-index:20}
.dong_thongbao{width:75px; height:20px; background:#67A769; color:white; text-align:center; padding-top:5px; float:right; margin-bottom:-10px; cursor: pointer;}

p.title_tb{width:340px; height:23px; background:#67A769; padding-top:5px; font-size:15px; font-weight:bold; color:white; padding-left:10px; }
.content_tb{width:330px; background:white; padding:15px 10px 20px; font-size:13px; font-weight:bold;max-height:300px; overflow:auto; LINE-HEIGHT:15PX}

#popup_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #67A769;
    margin: 0 auto;
    position: fixed;
    width: 650px;
    z-index: 100;
	display: none;
}
.header_popup_content {
    background: none repeat scroll 0 0 #67A769;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 15px;
}
.popup_content {
    height: auto;
    max-height: 400px;
    overflow: auto;
    padding: 15px;
}

.popup_content img.loading{display:block; margin:0px auto}

.btn input{  box-shadow: 2px 2px 4px #909090;  background: #41bbde; color:#fff;padding:5px 12px;  border-radius: 5px;  margin-right: 5px; border: none}

.header{
    height: 50px;
    margin-top: 20px;
    padding:0px !important
}
.hinhchinh_product{width:50px}
.search_product input{padding:3px;}








