<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>BOOKSHOP CMS</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="style.css"/> 
	<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<div class="header">
				<a href="#" class="create-page">Tạo trang</a>
				<select class="select">
					<option value="">Chọn trang</option>
				</select>
				<a href="#" class="upload">Upload</a>
			</div>
			<div class="navigation">
				<ul>
					<li><a href="#" class="">Home</a></li>
					<li><a href="#" class="">Cấu hình</a></li>
					<li><a href="#" class="">Loại sản phẩm</a></li>
					<li><a href="#" class="active">Sản phẩm</a></li>
					<li><a href="#">Đơn hàng</a></li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class="commonpage notborder product-page">
				<form action="" method="">
					<div class="head">
							<div class="pull-left" style="margin-top: 5px;">
								<span style="margin-top: 8px;color: #fff;float: left;margin-left:10px;">Chọn hình đại diện cho sản phẩm</span>
							</div>
							<div class="pull-right" style="margin-top: 5px;margin-right:10px;">
								<a href="#"><img src="images/delete.png" /></a>
							</div>
					</div>
					<div class="album">
						<div class="choose">
							<form action="" method="">
								<span>chọn hình từ Album</span>
								<select name="">
									<option value="">Giầy dép</option>
								</select>
								<div class="btn"><a href="#">Chọn</a></div>
							</form>
							<ul class="paging"> 
								<li class="first"><a href="#">Đầu</a></li>
								<li class="active"><a href="#">1</a></li>
								<li>-</li>
								<li class=""><a href="#">2</a></li>
								<li>-</li>
								<li class=""><a href="#">3</a></li>
								<li>-</li>
								<li class=""><a href="#">4</a></li>
								<li class=""><a href="">...</a></li>
								<li class="last"><a href="#">Cuối</a></li>
							</ul>
						</div>
						<div class="list-album">
							<ul>
								<li>
									<input type="checkbox" name="" value="" checked="checked" />
									<div class="box-img">
										<img src="images/product_fb.jpg"/>
									</div>
								</li>
								<li>
									<input type="checkbox" name="" value="" checked="checked" />
									<div class="box-img">
										<img src="images/product_fb.jpg"/>
									</div>
								</li>
								<li>
									<input type="checkbox" name="" value="" checked="checked" />
									<div class="box-img">
										<img src="images/product_fb.jpg"/>
									</div>
								</li>
								<li>
									<input type="checkbox" name="" value="" checked="checked" />
									<div class="box-img">
										<img src="images/product_fb.jpg"/>
									</div>
								</li>
								<li>
									<input type="checkbox" name="" value="" checked="checked" />
									<div class="box-img">
										<img src="images/product_fb.jpg"/>
									</div>
								</li>
								<li>
									<input type="checkbox" name="" value="" checked="checked" />
									<div class="box-img">
										<img src="images/product_fb.jpg"/>
									</div>
								</li>
							</ul>
						</div>
						
					</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>	