<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>BOOKSHOP CMS</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="style.css"/> 
	<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<div class="header">
				<a href="#" class="create-page">Tạo trang</a>
				<select class="select">
					<option value="">Chọn trang</option>
				</select>
				<a href="#" class="upload">Upload</a>
			</div>
			<div class="navigation">
				<ul>
					<li><a href="#" class="active">Home</a></li>
					<li><a href="#">Cấu hình</a></li>
					<li><a href="#">Loại sản phẩm</a></li>
					<li><a href="#">Sản phẩm</a></li>
					<li><a href="#">Đơn hàng</a></li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class="home-page">
				<table class="tbl-home" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th>Stt</th>
						<th>Tên fanfage</th>
						<th>Like</th>
						<th>Xem app</th>
						<th>Lời tham gia</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Sẻ chia khát vọng "Go Forth"</td>
						<td>357</td>
						<td><a href="#">Xem ứng dụng</a></td>
						<td><a href="#">Lời tham gia</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>	