*{padding:0;margin:0;}
body{padding:0;margin:0;font-size:13px;font-family: Helvetica;background: #ccc;}
a{color: #fff;text-decoration: none;}
ul{list-style-type: none;}
.container{
	width: 700px;
	margin:0 auto;
}
table{border-collapse: collapse;}
.clear{clear: both;}
.container{}
.header{
    padding-top: 25px;
    padding-bottom: 12px;
}
.header a.create-page{
    background: url(images/icon-page.png) no-repeat 10px center #41bbde;
    padding: 7px 10px 7px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #909090;
    margin-right: 6px;
}
.header a.upload{
	background: url(images/icon-cloud.png) no-repeat 6px center #41bbde;
    
	padding: 7px 10px 7px 45px;
    border-radius: 5px;
    
	box-shadow: 2px 2px 4px #909090;
	float: right;
}
.header select.select{
    border: 1px solid #41BBDE;
    box-shadow: 2px 2px 4px #909090;
    color: #41BBDE;
    height: 27px;
    padding: 3px;
}
.navigation{
    background: #fff;
    border-radius: 5px 5px 0 0;
    padding: 5px 5px 0 5px;
    position:relative;
}
.navigation ul{
    margin-top: 5px;
    height: 21px;
}
.navigation ul li{
    display: inline-block;
    color: #000;
    float: left;
}
.navigation ul li a{
    color: #41bbde;
    padding: 5px 7px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}
.navigation ul li a:hover,.navigation ul li a.active{background: #41bbde; color:#fff;}
.content{
    background: #fff;
    padding: 0 5px 10px;
    min-height: 800px;
}
.home-page{}
table.tbl-home{
    width: 100%;
    border: 1px solid #41bbde;
	float:left;
}
table.tbl-home tr th{
    background: #41bbde;
    color: #fff;
    height: 32px;
}
table.tbl-home tr td{
    border: 1px solid #41bbde;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
table.tbl-home tr td a{color:#41BBDE}

.commonpage{
    border: 1px solid #41bbde;
    padding-bottom: 20px;
}
.commonpage .head{
    background: #41bbde;
    /* height: 35px; */
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
img{max-width:100%;}
.commonpage .head select{
    border: 1px solid #41bbde;
    color: #41bbde;
    height: 24px;
    margin-top: 6px;
    margin-left: 12px;
}
.pageconfig{
    padding: 10px;
}
.pageconfig .row{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.pageconfig .row div.title{
    color: #666666;
    font-weight: bold;
    float: left;
    width: 110px;
}
.pageconfig .row div.ip{
    float: left;
    width: 545px;
}
.pageconfig .row div.ip input[type="text"]{
    width: 342px;
    height: 25px;
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.pageconfig .row div.ip input[type="text"].money{width:80px;}
.pageconfig .row div.ip .note{margin-left:20px;}
.btn{
    margin-left: 123px;
    float: left;
    width: 100%;
}
.btn a{  box-shadow: 2px 2px 4px #909090;  background: #41bbde; color:#fff;padding:5px 12px;  border-radius: 5px;  margin-right: 5px;}
.notborder{border:none!important;}
a.add{background: url(images/add.png) no-repeat 10px center #41bbde;
    padding: 7px 10px 7px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #909090;
    margin-right: 0;
    color:#fff;
float: right;margin-top: 11px;}
.pageconfig.page-product-detail .row .title{width: 120px;}
.commonpage .head .title{color:#fff;margin-top: 10px;float: left;margin-left: 12px;}
.product-page table.tbl-home tr th{font-size:12px;}
.product-page .search-div{
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    float: left;
    width: 97%;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.product-page .search-div span{}
.product-page .search-div select{
    margin-left: 5px;
	padding:2px;
}
.div_select_child_cat{display:none;}
.product-page .search-div .btn-search{
    float: right;
    margin-top: 10px;
}
.product-page .search-div .btn-search a.links{
    background: url(images/search.png) no-repeat scroll 8px center #fff;
    color: #41bbde;
    height: 24px;
    float: left;
    border: 1px solid #41bbde;
    padding-left: 30px;
    text-align: center;
    margin-right: 8px;
    box-shadow: 1px 1px 0px #909090;
    line-height: 24px;
    padding-right: 10px;
}
.product-page .search-div .btn-search a.add-b{
	background: url(images/add-b.png) no-repeat scroll 8px center #fff;
    color: #41bbde;
    height: 24px;
    float: right;
    border: 1px solid #41bbde;
    padding-left: 30px;
    text-align: center;
    box-shadow: 1px 1px 0px #909090;
    line-height: 24px;
    padding-right: 10px;
	/*margin-top:10px*/
}
a.add-b{
	margin-left: 5px;
}
.product-page table.tbl-home tr td div.has{
    background: url(images/arrow.png) no-repeat scroll top center transparent;
    padding-top: 10px;
    margin-top: 5px;
}
.album{
    float: left;
    width: 100%;
}
.album .choose{
    padding-top: 10px;
	margin-top:-20px;
    float: left;
    width: 100%;
}
.album .choose span{
    margin-left: 125px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
.album .choose select{
    float: left;
    border: 1px solid #41bbde;
    height: 24px;
    box-shadow: 2px 2px 4px #909090;
    border-radius: 3px;
}
.album .choose .btn{
    width: auto;
    margin-left: 15px;
    margin-top: 5px;
}
.paging{
    float: right;
    margin-right: 3px;
}
.paging li{
    display: inline-block;
}
.paging li a{
    color: #666666;
}
.paging li.active a,.paging li:hover a{color:#000;font-weight: bold;}
.list-album{
    float: left;
    margin-top: 15px;
}
.list-album ul{
    margin-left: 9px;
}
/*
.list-album ul li{
    border: 1px solid #41BBDE;
    float: left;
    height: 130px;
    margin-bottom: 17px;
    margin-right: 17px;
    text-align: center;
    width: 185px;
}
*/
.list-album ul li input[type="checkbox"]{
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
.list-album ul li div.box-img{
    float: left;
    margin-top: 10px;
    margin-left: 8px;
}
.pull-left{float:left;}
.pull-right{float:right;}