<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>BOOKSHOP CMS</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="style.css"/> 
	<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<div class="header">
				<a href="#" class="create-page">Tạo trang</a>
				<select class="select">
					<option value="">Chọn trang</option>
				</select>
				<a href="#" class="upload">Upload</a>
			</div>
			<div class="navigation">
				<ul>
					<li><a href="#" class="">Home</a></li>
					<li><a href="#" class="">Cấu hình</a></li>
					<li><a href="#" class="active">Loại sản phẩm</a></li>
					<li><a href="#">Sản phẩm</a></li>
					<li><a href="#">Đơn hàng</a></li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class="commonpage">
				<form action="" method="">
					<div class="head">
						<div class="title">Chi tiết loại sản phẩm</div>
					</div>
					<div class="pageconfig page-product-detail">
						<div class="row">
							<div class="title">Thuôc danh loại</div>
							<div class="ip">
								<select name="">
									<option value="">Không thuộc loại danh mục nào</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="title">Tên loại sản phẩm</div>
							<div class="ip"><input type="text" name="" value="" placeholder="" /></div>
						</div>
						<div class="row">
							<div class="title">Vị trí</div>
							<div class="ip"><input type="text" name="" value="" placeholder="" /></div>
						</div>
						<div class="row">
							<div class="title">Hiển thị</div>
							<div class="ip"><input type="checkbox" name="" value="" placeholder=""/><span class="note">(bỏ chọn để ẩn loại sản phẩm này)</span></div>
						</div>
						
						<div class="btn">
							<a href="#">Cập Nhật Loại Sản Phẩm</a>
							<a href="#">Quay lại</a>
						</div>
					</form>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>	