<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>BOOKSHOP CMS</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="style.css"/> 
	<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<div class="header">
				<a href="#" class="create-page">Tạo trang</a>
				<select class="select">
					<option value="">Chọn trang</option>
				</select>
				<a href="#" class="upload">Upload</a>
			</div>
			<div class="navigation">
				<ul>
					<li><a href="#" class="">Home</a></li>
					<li><a href="#" class="">Cấu hình</a></li>
					<li><a href="#" class="active">Loại sản phẩm</a></li>
					<li><a href="#">Sản phẩm</a></li>
					<li><a href="#">Đơn hàng</a></li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class="commonpage notborder">
				<form action="" method="">
					<div class="head">
						<select class="select">
							<option value="">Sẻ chia - Khát vọng “Go Forth”</option>
						</select>
					</div>
					<table class="tbl-home" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th>Stt</th>
							<th>Vị trí</th>
							<th>Tên loại sản phẩm</th>
							<th>Hiển thị</th>
							<th>Công cụ</th>
						</tr>
						<tr>
							<td>1</td>
							<td>3</td>
							<td>Trang sức</td>
							<td><input type="checkbox" name="" value="" checked="checked" /></td>
							<td>
								<a href="#"><img src="images/setting.png"/></a>
								<a href="#"><img src="images/delete.png"/></a>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>3.1</td>
							<td>. Trang sức</td>
							<td><input type="checkbox" name="" value="" checked="checked" /></td>
							<td>
								<a href="#"><img src="images/setting.png"/></a>
								<a href="#"><img src="images/delete.png"/></a>
							</td>
						</tr>
					</table>
					<a href="#" class="add">Thêm loại sản phẩm mới</a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>	